.loading-screen{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: none;
  background-color: black;
}
.collectionMainContainer{
  background-color: #0d0056;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.collectionMainContainer>h2{
  margin: 0rem 0 2rem 0;
}
.collectionContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.collectionList{
  min-width: 30%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.searchBar{
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.searchButton{
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  border: 1px solid white;
  background-color: rgb(28, 13, 113);
  margin-right: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 2px solid rgb(107, 84, 253);
  background-image: -webkit-linear-gradient(30deg, rgb(107, 84, 253) 50%, transparent 50%);
  background-image: linear-gradient(30deg, rgb(107, 84, 253) 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}
.searchButton:hover{
  background-position: 100%;
  color: white;
}

@media(max-width: 980px){
  .collectionList{
    min-width: 15rem;
  }
}

/* This is for collection list */

.collectionListMainContainer{
  background-color: rgb(28, 13, 113);
  color: white;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
}
.collectionListName{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.collectionListLink{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.collectionListLink>a{
  font-size: 0.9rem;
  color: white;
  background-color: rgb(28, 13, 113);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5em 1rem;
  color: #fff;
  border: 2px solid rgb(107, 84, 253);
  background-image: -webkit-linear-gradient(30deg, rgb(107, 84, 253) 50%, transparent 50%);
  background-image: linear-gradient(30deg, rgb(107, 84, 253) 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
  
}
.collectionListLink>a:hover{
  background-position: 100%;
  color: white;
}